@mixin flex {
  display: flex;
  justify-content: space-around;
}
@mixin flex-container {
  @include flex;

  flex-direction: column;
}

@mixin flex-sections {
  @include flex-container;
  align-items: center;
  padding: $spacing-lg;
}
