@mixin flex($align: initial) {
  display: flex;
  justify-content: space-around;

  @if $align != initial {
    align-items: $align;
  }
}
@mixin flex-container {
  @include flex;
  flex-direction: column;
}

@mixin flex-sections {
  @include flex-container;
  align-items: center;
  padding: $spacing-lg;
}

@mixin container-width {
  width: 70%;
  text-align: center;
}
