//  colors
$primary-dark: #18202e;
$light: antiquewhite;
$white: floralwhite;
$gray: rgba(208, 208, 210, 0.29);
$primary: #800040;
$primary-hover: #9c1458;
$secondary: teal;
$secondary-hover: #066e6e;
$black: black;

// fonts
