/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *
 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

/*------------------------------------*\
     #COLORS
 \*------------------------------------*/

/**
 * Brand Colors
 * 1) Brand=specific colors
 */
$cl-primary: #800040;
$cl-secondary: teal;
$cl-light: #ffe6cb;
$cl-dark: #18202e;

/**
  * Neutral Colors
  * 1) Neutral colors are grayscale values used throughout the UI
  */
$cl-white: rgb(252, 250, 246);
$cl-gray: #434242;
$cl-black: black;

/**
  * Utility Colors
  * 1) Utility colors are colors used to provide feedback, such as alert messages,
  *    form validation, etc.
  */
$cl-info: #0948ad;
$cl-error: #860a25;
$cl-success: rgb(7, 134, 117);
$cl-warning: #afa51a;

// //////////////////////////////////

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary: serif;

/**
  * Font Sizing
  */
$font-size-sm: 18px !default;
$font-size-sm-2: 22px !default;
$font-size-md: 26px !default;
$font-size-md-2: 28px !default;
$font-size-lg: 32px !default;
$font-size-xl: 36px !default;

// $font-size-small: 20px;

$font-size-h1: 48px !default;
$font-size-h2: 36px !default;
$font-size-h3: 27px !default;
$font-size-h4: 19px !default;
/**
  * Line Height
  */
$line-height: 1.5;

/*------------------------------------*\
     #LAYOUT
 \*------------------------------------*/

/**
  * Max Width
  */
$l-max-width: 60rem !default;
$l-linelength-width: 36rem !default;

/*------------------------------------*\
     #SPACING
 \*------------------------------------*/

/**
  * Spacing and offsets
  * 1) Used to space grids and body padding
  */

$spacing: 1rem;
$spacing-sm: round(0.5 * $spacing);
$spacing-lg: round(2 * $spacing);

/*------------------------------------*\
     #BORDERS
 \*------------------------------------*/

/**
  * Border
  */
$border-thickness: 1px;

/**
  * Border radius
  */
$border-radius: 8px;

/*------------------------------------*\
     #ANIMATION
 \*------------------------------------*/

/**
  * Transition Speed
  */
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.4s;

/**
  * Transition Ease
  */
$anim-ease: ease-out;

/*------------------------------------*\
     #BREAKPOINTS
 \*------------------------------------*/

/**
  * Breakpoints
  * 1) Used to set media breakpoints for different devices
  */
$xl: "xl";
$lg: "lg";
$md: "md";
$sm: "sm";
$xs: "xs";
