@import "../utils/mixins";
@use "variables";

//  base
html,
body {
  color: $cl-gray !important;
  font-family: "Open Sans", sans-serif !important;
  height: 100%;
}
h2 {
  padding: $spacing-sm 0 $spacing-lg;
}

#bootstrap-overrides {
  color: lighten($cl-gray, 15%);
}
#bootstrap-overrides h2 {
  color: darken($cl-gray, 5%);
}

//  common styles
.content-box {
  @include flex-container;
  padding: $spacing-lg;
  // max-width: fit-content;
}
