// @import "../utils/mixins";
@use "variables";

//  base
html,
body {
  color: $cl-gray !important;
  font-family: "Open Sans", sans-serif !important;
  height: 100%;
}
h2 {
  padding: $spacing-sm 0 $spacing;
}

#bootstrap-overrides {
  color: lighten($cl-gray, 15%);
}
#bootstrap-overrides h2 {
  color: darken($cl-gray, 5%);
}

#bootstrap-overrides .service-sec-card h3 {
  color: darken($cl-white, 5%);
}

//  common styles
// .d-flex flex-column justify-content-center {
//   @include flex-container;
// @media (max-width: $breakpoint-sm) {
//   padding: 0;
// }
// @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
//   padding: $spacing;
// }
// @media (min-width: $breakpoint-md) {
//   padding: $spacing-lg;
// }

// @include media($xs) {
//   @include flex-container;
//   padding: 0;
// }
// @include media($sm) {
//   padding: $spacing;
// }
// @include media($lg) {
//   padding: $spacing-lg;
// }
// @include media($xl) {
//   @include flex;
//   padding: 0 20rem;
// }

//   max-width: fit-content;
// }
