// @import "../utils/variables";
@use "variables";

//  base
html,
body {
  color: $cl-gray !important;
  font-family: "Open Sans", sans-serif !important;
  height: 100%;
}

#bootstrap-overrides h1 {
  color: $cl-primary;
}

//  common styles
.content-box {
  display: flex;
  flex-direction: column;
  padding: 3%;
  max-width: fit-content;
}
