@import "./scss/styles.scss";
@use "variables";
@use "mixins";

.contact-bar {
  background-color: $cl-black;
  color: $cl-white;
  align-items: center;
}

#welcome-sec {
  text-align: center;

  p {
    @include media($xs) {
      @include container-width(100%);
    }
    @include container-width(70%);
  }
}

#testimonial-sec {
  text-align: center;
  background-color: lighten($cl-gray, 65%);
}

#footer-sec {
  background-color: pink;
  color: lighten($cl-light, 7%);

  h3 {
    color: lighten($cl-light, 10%);
  }

  .map-icon-image {
    background-image: url("./images/map-icon-45.png");
    width: 3rem;
    min-height: 3rem;
    background-repeat: no-repeat;
    //   -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    //   background-position: center center;
    //   background-attachment: fixed;
  }

  @include media($xs) {
    flex-direction: column;
    align-items: center;
  }
}

// leaflet map
// #mapid {
//   width: 600px;
//   height: 480px;
//   border-radius: 8%;
// }
.leaflet-container {
  width: 500px;
  height: 500px;
}
