@import "./scss/styles.scss";
@use "variables";
@use "mixins";

.contact-bar {
  @include contact-sec;

  @include media($xs) {
    @include flex-container;
    padding: 0;
  }
  @include media($sm) {
    @include flex;
    padding: 0 5rem;
  }
  @include media($lg) {
    @include flex;
    padding: 0 10rem;
  }
  @include media($xl) {
    @include flex;
    padding: 0 20rem;
  }
}

#welcome-sec {
  @include flex-sections;

  p {
    @include media($xs) {
      @include container-width(100%);
    }
    @include container-width(70%);
  }
}

#testimonial-sec {
  @include flex-sections;
  background-color: lighten($cl-gray, 65%);
}

#service-sec {
}

#footer-sec {
  @include flex;
  background-color: $cl-black;
  color: lighten($cl-light, 7%);

  h3 {
    color: lighten($cl-light, 10%);
  }

  .map-icon-image {
    background-image: url("./images/map-icon-45.png");
    width: 3rem;
    min-height: 3rem;
    background-repeat: no-repeat;
    //   -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    //   background-position: center center;
    //   background-attachment: fixed;
  }
}
