@import "./scss/styles.scss";
@use "variables";
@use "mixins";

.contact-bar {
  @include flex;
  align-items: center;
  background-color: $cl-black;
  color: $cl-white;
  padding: 0 30rem;
}

#welcome-sec {
  @include flex-sections;

  p {
    @include container-width;
  }
}

#testimonial-sec {
  @include flex-sections;
  background-color: lighten($cl-gray, 65%);

  // @include container-width .slider-container,

  // .slider-box,
  // .service-card-box {
  //   display: flex;
  //   justify-content: space-around;
  // }
  // .comment-card,
  // .service-card {
  //   border: solid black 1px;
  //   margin: 3% 0;
  // }
}

#service-sec {
  @include flex-sections;
  div {
    text-align: center;
  }

  .service-card-box {
    @include flex;
  }
  .service-sec-container {
    @include container-width;
  }

  .service-image {
    @include flex(center);
    width: 15rem;
    min-height: 15rem;
  }

  .service-image-1 {
    /* background-image: url("./images/map.JPG"); */
    background-color: hotpink;
  }
  .service-image-2 {
    /* background-image: url("./images/map.JPG"); */
    background-color: rgb(105, 255, 210);
  }
  .service-image-3 {
    /* background-image: url("./images/map.JPG"); */
    background-color: rgb(105, 208, 255);
  }
}

#footer-sec {
  @include flex;
  background-color: $cl-black;
  color: $cl-light;

  h3 {
    color: lighten($cl-light, 10%);
  }

  .map-icon-image {
    background-image: url("./images/map-icon-45.png");
    width: 3rem;
    min-height: 3rem;
    background-repeat: no-repeat;
    //   -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    //   background-position: center center;
    //   background-attachment: fixed;
  }
}
