body {
  background-color: red;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* my-css */

.logo-text {
  padding: 0 0 5% 5%;
}
.bg-black {
  height: 50%;
  background-color: black;
  color: floralwhite;
  font-size: x-large;
  text-align: center;
}
