body {
  background-color: red;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  my variables */
:root {
  --navbar-bg-color: #18202e;
  --footer-bg-color: antiquewhite;
  --white-text-color: floralwhite;
  --primary-btn-color: #800040;
  --primary-btn-color-hover: #9c1458;
  --secondary-btn-color: teal;
  --secondary-btn-color-hover: #066e6e;
}
